.click-data-viewer {
    padding-top:64px;
    padding-bottom: 24px;
    min-height: 400px;
    width: 100%;
}

.click-data-grid {
    display: grid;
    gap: 16px;
    padding-left: 24px;
    padding-right: 24px;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    grid-auto-rows: 90px;
}

.top-dashboard-section {
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    flex-direction: row;
    margin-bottom: 16px;
}

.card-top {
    margin-left: 16px;
    margin-right: 16px;
}

.card {
    background: #fff;
    border: 1px solid #e5e5e5;
    display: flex;
    flex-direction: column;
    min-height: 80px;
    height: 100%;
    width: 100%;
    align-items: center;
    z-index: 1;
    border-radius: .5rem;
    box-shadow: 0 2px 0 rgb(90 97 105 / 11%),
              0 4px 8px rgb(90 97 105 / 12%),
             0 10px 10px rgb(90 97 105 / 6%),
             0 7px 70px rgb(90 97 105 / 10%);
}

.card-title {
    text-align: center;
    font-size: 1rem;
    padding: .3rem;
}

.card-body {
    padding: 1rem;
}


.card-t2 {
    grid-row: span 2 / auto;
}

.card-tall {
    grid-row: span 3 / auto;
}

.card-ultra-tall {
    grid-row: span 4 / auto;
}

.card-w2 {
    grid-column: span 2 / auto;
}
.card-wide {
    grid-column: span 3 / auto;
}

.card-ultra-wide {
    grid-column: span 8 / auto;
}

.raw-clicks-data-table {
    overflow: auto;
}

.clicks-frame {
    position: relative;
    z-index: 1;
}